<h1>All Shelters</h1>

<a href="/shelters/new">New Shelter</a>

<% @shelters.each do |shelter| %>
  <p><b><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></b><br/>
  <%= shelter.address %><br/>
  <%= shelter.city %><br/>
  <%= shelter.state %><br/>
  <%= shelter.zip%></p>
<% end %>
