<h1 class="title">All Shelters</h1>

<a class="index_links" href="/shelters/new">New Shelter</a>
<a class="index_links" href="/users/new">Create User</a>

<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>" class="info">
    <a class="edit" href="/shelters/<%= shelter.id %>/edit">Edit</a>
      <b><a class="shelter_name" href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></b><br/>
      <%= shelter.address %><br/>
      <%= shelter.city %><br/>
      <%= shelter.state %><br/>
      <%= shelter.zip%><br/>
      <%= button_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete, class: "delete_index" %>
  </section>
<% end %>
