<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <p><b><%= shelter.name %></b><br/>
  <%= shelter.address %><br/>
  <%= shelter.city %><br/>
  <%= shelter.state %><br/>
  <%= shelter.zip%></p>
<% end %>
