
<% @pets.each do |pet|%>
  <h1>Available Pets - <%= pet.shelter_id %></h1>
  <img src="<%= pet.image %>" width="200" height="100"><br/>
  <h3>Name - <%= pet.name %><br/>
    Age - <%= pet.approximate_age %><br/>
    Sex - <%= pet.sex %><br/></h3>
<% end %>