<a class="index_links" href="/shelters/<%= @shelter.id %>/pets">Pet Index</a>
<a class="index_links" href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<a class="index_links" href="/shelters/<%= @shelter.id %>/reviews/new">New Review</a>

<p class="info"><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%><br/>

<section id="shelter-stats" class="info">
    <h3>Amount of Pets - <%= @shelter.pet_count %></h3>
    <h3>Applications on file - <%= @shelter.number_of_applications %></h3>
</section>

<section id="shelter-<%= @shelter.id %>">
  <form class="delete_index" action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit"  value="Delete Shelter"/>
  </form>
</section>


<% if @shelter.reviews != [] %>
  <h2 class="title">Reviews</h2>

  <section class="title" id="review-stats">
    <h3>Average Shelter Rating - <%= @shelter.average_rating.round(2) %></h3>
  </section>

  <% @reviews.each do |review| %>
    <section class="info" id="review-<%= review.id %>">
      <img src="<%= review.picture %>" width="100px">
      <p>Name - <%= review.user_name %></p>
      <p>Title - <%= review.title %></p>
      <p>Rating - <%= review.rating %></p>
      <p>Content - <%= review.content %></p>
      <%= button_to "edit review", "/shelters/#{review.shelter_id}/reviews/#{review.id}/edit", method: :get %>
      <%= button_to "delete review", "/shelters/#{review.shelter_id}/reviews/#{review.id}", method: :delete %>
    </section><br><br>
  <% end %>
<% end %>
