<a href="/shelters">Shelter Index</a>

<p><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%></p>