<a class="index_links" href="/shelters/<%= @shelter.id %>/pets">Pet Index</a>

<p class="info"><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%><br/>

<section id="shelter-stats">
    <h3>Amount of Pets - <%= @shelter.pet_count %></h3>
    <h3>Average Shelter Rating - <%= @shelter.average_rating %></h3>
    <h3>Applications on file - <%= @shelter.number_of_applications %></h3>
</section>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

<form class="delete_index" action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shelter"/>
</form>

<h2>Reviews</h2>
<% @reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <img src="<%= review.picture %>" width="100px">
    <p>Name - <%= review.user_name %></p>
    <p>Title - <%= review.title %></p>
    <p>Rating - <%= review.rating %></p>
    <p>Content - <%= review.content %></p>
    <%= button_to "edit review", "/shelters/#{review.shelter_id}/reviews/#{review.id}/edit", method: :get %>
    <%= button_to "delete review", "/shelters/#{review.shelter_id}/reviews/#{review.id}", method: :delete %>
  </section><br><br>

  <a href="/shelters/<%= @shelter.id %>/reviews/new">New Review</a>
<% end %>
