<a href="/shelters/<%= @shelter.id %>/pets">Pet Index</a>

<p><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%></p>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>

<form action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Shelter"/>
  </form>