<a class="index_links" href="/shelters/<%= @shelter.id %>/pets">Pet Index</a>

<p class="info"><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%><br/>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

<form class="delete_index" action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shelter"/>
</form>

<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <img src="<%= review.picture %>" width="100px"><br/>
    Name - <%= review.user_name %><br/>
    Title - <%= review.title %><br/>
    Rating - <%= review.rating %><br/>
    Content - <%= review.content %><br/></p>
    <a href="/shelters/<%= @shelter.id %>/reviews/new">New Review</a>
    <%= link_to "edit review", "/shelters/#{review.shelter_id}/reviews/#{review.id}/edit" %>
  </section>
  <% end %>
