<a class="index_links" href="/shelters/<%= @shelter.id %>/pets">Pet Index</a>

<p class="info"><b> ID: <%= @shelter.id %> - <%= @shelter.name %></b><br/>
<%= @shelter.address %><br/>
<%= @shelter.city %><br/>
<%= @shelter.state %><br/>
<%= @shelter.zip%><br/>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></p>

<form class="delete_index" action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Shelter"/>
  </form>

  <h1>Reviews</h1>
  <p><% @reviews.each do |review| %>
    <img src="<%= review.picture %>" width="100" height="100"><br/>
    Name - <%= review.user_name %><br/>
    Title - <%= review.title %><br/>
    Rating - <%= review.rating %><br/>
    Content - <%= review.content %><br/></p>
  <% end %>
