<section id="application-status">
  <b>Application Status: </b><i><%= @application.application_status %></i>
</section><br>

<h4>Pets</h4>
<% @application.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>-application">
    <b><%= pet.name %></b>
    <% if @application.pet_application_status(pet.id) == "Pending" %>
      <%= form_tag "/admin/applications/#{@application.id}?pet_approval=#{pet.id}", method: :patch do %>
        <%= submit_tag "Approve Pet" %>
      <% end %><br>
      <%= form_tag "/admin/applications/#{@application.id}?pet_approval=#{pet.id}", method: :patch do %>
        <%= submit_tag "Reject Pet" %>
      <% end %><br>
    <% else %>
        <%= @application.pet_application_status(pet.id) %>
    <% end %>

  </section>
<% end %>
