<section id="view-applications">
  <%= link_to "View All Applications For This Pet", "/pets/#{@pet.id}/applications" %>
</section><br>

<h1 class="title"><%= @pet.id %></h1>
<p class="info"> <img src="<%= @pet.img %>" width="200" height="100"><br/>
  Name - <%= @pet.name %><br/>
  Description - <%= @pet.description %><br/>
  Age - <%= @pet.approximate_age %><br/>
  Sex - <%= @pet.sex %><br/>
  Adoptable - <%= @pet.adoptable %><br/>
  <a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
  <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, class: "delete_index" %></p>
