<h1><%= @pets.id %></h1>
<p> <img src="<%= @pets.image %>" width="200" height="100"><br/>
  Name - <%= @pets.name %><br/>
  Description - <%= @pets.description %><br/>
  Age - <%= @pets.approximate_age %><br/>
  Sex - <%= @pets.sex %><br/>
  Adoptable - <%= @pets.adoptable %><br/>
  <a href="/pets/<%= @pets.id %>/edit">Update Pet</a></p>