<p><b><%= @user.name%></b><br/>
  <%= @user.street_address%><br/>
  <%= @user.city%><br/>
  <%= @user.state%><br/>
  <%= @user.zip%><br/>
</p>


<% @reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.content %></p>
  </section><br>
<% end %>
