<%= form_tag "/shelters/#{@shelter_id}/reviews", method: 'post', class: "info" do %>
  <h1 class="title">Review Information</h1>

  <%= label_tag :picture %>(optional)
  <%= text_field_tag :picture %><br/>
  <%= label_tag :title %>
  <%= text_field_tag :title %><br/>
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %><br/>
  <%= label_tag :rating %>
  <%= number_field_tag :rating %><br/>
  <%= label_tag :content %>
  <%= text_field_tag :content %><br/>
  <%= submit_tag "Submit Review" %>
<% end %>
