<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a class="index_links" href="/shelters">Shelter Index</a>
    <a class="index_links" href="/pets">Pet Index</a>
    <% flash.each do |type, message| %>
      <p class="error_message"><b><%= message %></b>*</p>
    <% end %>

    <%= yield %>
  </body>
</html>
